body {
  background-color: hsl(0, 0%, 67%);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.content-title {
  text-align: center;
}

table,
th,
td {
  border: 2px solid rgb(58, 58, 58);
}

.content-table {
  width: 100%;
  border-collapse: collapse;
}

.content-table th {
  background-color: rgb(182, 209, 220);
}

.content-table td {
  padding: 0.5rem 0 0.5rem 1rem;
}

.content-table a {
  text-decoration: none;
  color: black;
  background-color: rgb(177, 222, 240);
  border-radius: 25px;
  padding: 0.3rem;
}

.content-table a:hover,
.content-table a:active {
  background-color: rgb(92, 152, 175);
}
